<app-navbar></app-navbar>

<div class="container">
    <form [formGroup]="formMateria" (ngSubmit)="alta()">
      <div class="row">
        <div class="col-md-12 mb-5">
          <h2>Alta materia</h2>
        </div>
      </div>
      <div class="row formulario">
        <div class="col-md-9 mb-3">
          <label for="descripcion" class="form-label">Descripcion</label>
          <input type="text" class="form-control" id="descripcion" placeholder="Ingrese descripcion" formControlName='descripcion'>
          <small class="invalid"  *ngIf="formMateria.get('descripcion')?.errors?.required && formMateria.get('descripcion')?.touched">
              La descripcion es requerida</small>
        </div>
        
        <div class="col-md-6 mb-3">
          <label for="cuatrimestre" class="form-label">Cuatrimestre</label>
          <select class="form-select" id="cuatrimestre" formControlName='cuatrimestre'>
            <option value="">Seleccione uno</option>
            <option value="1">Primer cuatrimestre</option>
            <option value="2">Segundo cuatrimestre</option>
          </select>
          <small class="invalid" *ngIf="formMateria.get('cuatrimestre')?.errors?.required && formMateria.get('cuatrimestre')?.touched">
              El cuatrimestre es requerido</small>
        </div>
        <div class="col-md-6 mb-3">
            <label for="cupoAlumnos" class="form-label">Cupos de alumnos</label>
            <input type="number" class="form-control" id="cupoAlumnos" placeholder="Ingrese cupo" formControlName='cupoAlumnos'>
            <small class="invalid" *ngIf="formMateria.get('cupoAlumnos')?.errors?.required && formMateria.get('cupoAlumnos')?.touched">
                El cupo de alumnos es requerido</small>
        </div>
        <div class="col-md-6 mb-3">
            <label for="anio" class="form-label">Año</label>
            <input type="number" class="form-control" id="anio" placeholder="Ingrese año" formControlName='anio'>
            <small class="invalid" *ngIf="formMateria.get('anio')?.errors?.required && formMateria.get('anio')?.touched">
                El año es requerido</small>
        </div>
 
        <div class="col-md-12 mb-2">
          <label for="imagen" class="form-label">Imagen</label>
          <input type="file" class="form-control" id="imagen" placeholder="Ingrese imagen" formControlName='imagen' (change)="cargarImagen($event)">
          <small class="invalid" *ngIf="formMateria.get('imagen')?.errors?.required && formMateria.get('imagen')?.touched">
            La imagen es requerida</small>
        </div>

        <!-- profesor -->
        <!-- <div class="col-md-12 mb-5">
          <label for="profesor" class="form-label">Profesor</label>
          <input type="email" class="form-control" id="profesor" placeholder="Ingrese profesor">
          <small class="invalid" *ngIf="formMateria.get('profesor')?.errors?.required && formMateria.get('profesor')?.touched">
              El profesor es requerido</small>
        </div> -->
        <!-- <div class="col-md-12" id="box" *ngIf="perfil=='especialista'"> -->
            <div class="card">
                <div class="card-body">
                    <h4 class="d-flex justify-content-between align-items-center mb-3" *ngIf="listaProfesores != null">
                        <h4>Lista de profesores</h4>
                    </h4>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between" *ngFor="let profesor of listaProfesores"
                          (click)="agregarProfesor(profesor)">
                            <div>
                                <h6 class="text-info">{{profesor.email}}</h6>
                            </div>
                        </li>
                    </ul>
                    <hr>
                    <label class="mb-2">Seleccione profesor de la lista</label>
                    <div class="col-md-12 mb-2" *ngIf="!banderaProfesorSeleccionado">
                        <ul class="list-group card-body overflow-auto" id="boxConScroll"
                            style="height: 130px;" #scrollMe [scrollTop]="scrollMe">
                            <li type="text"
                                class="list-group-item d-flex justify-content-between lh-condensed"
                                *ngFor="let profesor of listaProfesoresSeleccionados" disable>
          
                                <input type="text" class="form-control" value="{{profesor.email}}" disabled>
                                    <!-- value="{{especialidad.nombre}} {{especialidad.duracion}}" disabled> -->
                                <!-- <button class="btn btn-danger"
                                    (click)="eliminarEspecialidad(especialidad)"><b>X</b></button> -->
                            </li>
                        </ul>
                    </div>
                </div> 
               </div>
          <!-- </div> -->
        <!-- <div class="col-md-12 d-grid gap-2 container2">
            <button class="btn btn-warning btn-block" routerLink="/auth/registro">Nuevo profesor</button>
        </div> -->

       </div>
      <div class="row">
        <div class="col-md-12 d-grid gap-2">
          <button type="submit" class="btn btn-primary btn-block">
            Aceptar
          </button>
        </div>
      </div>

    </form>
  </div>