    <div class="container">

      <!-- <div *ngIf="perfil=='paciente' || perfil=='especialista'" class="paciente" [ngClass]="{especialista: perfil=='especialista'}">-->
        <form [formGroup]="formRegistro" (ngSubmit)="registro()">
            <div class="row">
              <div class="col-md-12 mb-3">
                <h2>Registro</h2>
              </div>
            </div>
            <div class="row formulario container">
      
             <!-- <div class="col-md-12" id="box" *ngIf="perfil=='especialista'"> -->
              <div class="col-md-12" id="box"> 
                <div class="form-group col-md-6 mb-3">
                  <label for="perfil" class="form-label">Seleccione perfil</label>
                  <select class="form-select" id="perfil" formControlName="perfil">
                      <option value="" selected="true">Seleccione uno</option>
                      <option value="alumno">Alumno</option>
                      <option value="profesor">Profesor</option>
                      <option value="administrador">Administrador</option>
                  </select>
                  <small class="invalid" *ngIf="formRegistro.get('perfil')?.errors?.required && formRegistro.get('perfil')?.touched">
                      El perfil es requerido</small>
              </div>
 
              <!-- <div class="card">
                  <div class="card-body"> -->
                      <!-- <h4 class="d-flex justify-content-between align-items-center mb-3" *ngIf="listaEspecialidades != null"> -->
                          <!-- <h4>Perfil de usuario</h4> -->
                      <!-- </h4> -->
                      <!-- <ul class="list-group mb-3">
                          <li class="list-group-item d-flex justify-content-between" *ngFor="let perfil of listaPerfiles"
                            (click)="agregarPerfil(perfil)">
                              <div>
                                  <h6 class="text-info">{{perfil.descripcion}}</h6>
                              </div>
                          </li>
                      </ul>
                      <hr>
                      <label class="mb-2">Perfil/es. Seleccione perfil/es de la lista o genere una nuevo</label>
                      <div class="col-md-12 mb-2" *ngIf="!banderaPerfilSeleccionado">
                          <ul class="list-group card-body overflow-auto" id="boxConScroll"
                              style="height: 130px;" #scrollMe [scrollTop]="scrollMe">
                               <li type="text"
                                  class="list-group-item d-flex justify-content-between lh-condensed"
                                  *ngFor="let perfil of listaPerfilSeleccionados" disable>
            
                               </li>
                          </ul>
                      </div> -->
                  <!-- </div> -->
              <!-- </div> -->
            </div>
    
            <div class="col-md-12 mb-2">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Ingrese email" formControlName='email'>
              <small class="invalid" *ngIf="formRegistro.get('email')?.errors?.required && formRegistro.get('email')?.touched">El email es requerido</small>
            </div>
            <div class="col-md-12 mb-2">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Ingrese password" formControlName='password'>
              <small class="invalid" *ngIf="formRegistro.get('password')?.errors?.required && formRegistro.get('password')?.touched">La password es requerida</small>
              <small class="invalid" *ngIf="formRegistro.get('password')?.errors?.minLength && formRegistro.get('password')?.touched">La password debe tener mínimo 6 caracteres</small>
            </div>
    
            <div class="col-md-12 mb-2">
              <label for="imagen" class="form-label">Imagen de perfil</label>
              <input type="file" class="form-control" id="imagen" placeholder="Ingrese imagen de perfil" formControlName='imagen' (change)="cargarImagen($event)">
              <small class="invalid" *ngIf="formRegistro.get('imagen')?.errors?.required && formRegistro.get('imagen')?.touched">La imagen de perfil es requerida</small>
            </div>
          <!-- </div> -->
    
          <div class="row container">
            <div class="col-md-12 d-grid gap-2 container2">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="signup">
                  <span *ngIf="signup" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Registro
              </button>
            </div>
            <div class="col-md-12 d-grid gap-2 container2">
              <button class="btn btn-danger btn-block" routerLink="/">Me arrepentí</button>
            </div>
          </div>
      </div>
    </form>
    
      <!-- <div class="col-md-12" id="box" *ngIf="perfil=='especialista'">
        <div class="card">
            <div class="card-body">
                <div class="form-group col-md-5">
                    <label class="col-form-label" for="descripcionEspecialidad">Nueva especialidad</label>
                    <input type="text" class="form-control" id="descripcionEspecialidad" [(ngModel)]="descripcionEspecialidad"
                        name="descripcionEspecialidad" placeholder="Ingrese el nombre de la especialidad"> -->
    
                    <!-- <button type="button" class="btn btn-primary btn-block" (click)="agregarNuevaEspecialidad()">Agregar Especialidad</button> -->
                <!-- </div>
            </div>
        </div>
      </div> -->
    </div>
