<!-- <app-navbar></app-navbar> -->


<div class="card">
    <div class="form-group">
        <!-- <input type="text" class="form-control" placeholder="Busqueda por tipo perfil o nombre..."
            name="filterPost" [(ngModel)]="filterPost">
    </div> -->

     <div class="card-body">
        <h4 class="d-flex justify-content-between align-items-center mb-3" *ngIf="listaUsuarios != null ">
            <h4>Lista de usuarios</h4>
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between" *ngFor="let usuario of listaUsuarios">
            <!-- <li class="list-group-item d-flex justify-content-between" *ngFor="let usuario of listaUsuarios | upper:filterPost"> -->
              <!-- (click)="agregarProfesor(profesor)"> -->
                <div>
                    <h6 class="text-info">{{usuario.email}} {{usuario.perfil}}</h6><img src="{{usuario.imagenPerfil}}"/>
                </div>
            </li>
        </ul>
        <!-- <hr>
        <label class="mb-2">Seleccione profesor de la lista</label>
        <div class="col-md-12 mb-2" *ngIf="!banderaProfesorSeleccionado">
            <ul class="list-group card-body overflow-auto" id="boxConScroll"
                style="height: 130px;" #scrollMe [scrollTop]="scrollMe">
                <li type="text"
                    class="list-group-item d-flex justify-content-between lh-condensed"
                    *ngFor="let profesor of listaProfesoresSeleccionados" disable>

                    <input type="text" class="form-control" value="{{profesor.email}}" disabled> -->
                        <!-- value="{{especialidad.nombre}} {{especialidad.duracion}}" disabled> -->
                    <!-- <button class="btn btn-danger"
                        (click)="eliminarEspecialidad(especialidad)"><b>X</b></button> -->
                <!-- </li>
            </ul>
        </div> -->
    </div> 
   </div>
