<!-- <app-navbar></app-navbar> -->
<!-- <br>< br> -->
<!-- <img src="../../../assets/imagenes/back3.jpg" /> -->
<!-- <p>bienvenido works!</p> -->

<body class="foto">
    <div class="col-md-6" *ngIf="userLogueado | async as user; else login ">
        <div *ngIf="usuarioLogueado != null">
            <!-- <div *ngIf="usuarioLogueado.perfil=='paciente' || usuarioLogueado.perfil=='administrador'"> --> -->
                <!-- <a class="btn btn-outline-dark" routerLink="/solicitarturno">Solicitar Turno</a> -->
            <!-- </div>

            <div *ngIf="usuarioLogueado.perfil=='paciente'"> -->
                <!-- <a class="btn btn-outline-dark" routerLink="/misturnos">Mis turnos</a> -->
            <!-- </div>

            <div *ngIf="usuarioLogueado.perfil=='especialista'"> -->
                <!-- <a class="btn btn-outline-dark" routerLink="/misturnos-especialista">Mis turnos</a> -->
            <!-- </div>

            <div *ngIf="usuarioLogueado.perfil=='administrador'"> -->
                <a class="btn btn-outline-dark" routerLink="/admin/altamateria">Alta materia</a>
                <a class="btn btn-outline-dark" routerLink="/vermaterias">Ver materias</a>
            <!-- </div> -->

            <!-- <a class="btn btn-outline-dark" routerLink="/miperfil">Mi perfil</a> -->
        </div>
    </div>
    <ng-template #login>
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="p-5 mb-4 ">
                    <a class="btn btn-outline-dark" routerLink="/auth/login">
                        <br><br><br>
                        <p>...</p>
                        <br><br>        
                        <h1>Iniciar sesión</h1>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-5 mb-4">
                    <a class="btn btn-outline-dark" routerLink="/auth/registro">
                        <h4>Profesor</h4>
                        <p>¿Deseas formar parte de nuestro gran equipo de profesionales?
                        <br><br>
                        <h4>Alumno</h4>
                        <p>Registrate e ingresá a la web de la facultad.</p>
                        <br>
                        <h1>Registrarte</h1>
                    </a>
                </div>
            </div>
        </div>
    </ng-template>
</body>
