<app-navbar></app-navbar>

<div class="card">
    <div class="card-body">
        <h4 class="d-flex justify-content-between align-items-center mb-3" *ngIf="listaMaterias != null">
            <h4>Lista de materias</h4>
        </h4>
        <ul class="list-group mb-3">
            <li [appResaltarMateria]="materia.cupoAlumnos" class="list-group-item d-flex justify-content-between" *ngFor="let materia of listaMaterias">
              <!-- (click)="agregarProfesor(profesor)"> -->
                <div>
                    <h6 class="text-info">{{materia.descripcion}} {{materia.cupoAlumnos}}</h6>
                    <img src="{{materia.imagen}}"/>
                </div>
            </li>
        </ul>
        <!-- <hr>
        <label class="mb-2">Seleccione profesor de la lista</label>
        <div class="col-md-12 mb-2" *ngIf="!banderaProfesorSeleccionado">
            <ul class="list-group card-body overflow-auto" id="boxConScroll"
                style="height: 130px;" #scrollMe [scrollTop]="scrollMe">
                <li type="text"
                    class="list-group-item d-flex justify-content-between lh-condensed"
                    *ngFor="let profesor of listaProfesoresSeleccionados" disable>

                    <input type="text" class="form-control" value="{{profesor.email}}" disabled> -->
                        <!-- value="{{especialidad.nombre}} {{especialidad.duracion}}" disabled> -->
                    <!-- <button class="btn btn-danger"
                        (click)="eliminarEspecialidad(especialidad)"><b>X</b></button> -->
                <!-- </li>
            </ul>
        </div> -->
    </div> 
   </div>
